[Unit]
Description=Start SWWW
After=hyprland.service

[Service]
Environnement=RUST_BACKTRACE=1
ExecStart=/usr/bin/awww-daemon -f xrgb
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
